<div class="container">
  <div class="row">
    <div class="col l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Contact</span>
          <div ng-repeat="contact in contacts">
            <div ng-if="contact.method == 'email'" class="row">
              <span class="fa fa-envelope col icons"></span>
              <a class="col" href="mailto:{{contact.email}}">{{contact.email}}</a>
            </div>
            <div ng-if="contact.method == 'phone'" class="row">
              <span class="fa fa-phone col icons"></span>
              <a class="col" href="tel:{{contact.number}}">{{contact.number}}</a>
            </div>
            <div ng-if="contact.method == 'address'" class="row">
              <span class="fa fa-home col icons"></span>
              <div class="col">
                <div ng-repeat="line in contact.lines">{{line}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>