<div class="container">
  <!-- HEADER -->
  <div ng-if="game.header" class="row">
    <div class="col l12">
      <img-mat src="{{game.header}}">
    </div>
  </div>
  <!-- OVERVIEW -->
  <div class="row">
    <div class="col l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Overview</span>
          <p>{{game.description.long || game.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- SCREENSHOTS -->
  <div ng-if="game.screenshots" class="row">
    <div class="col l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Screenshots</span>
          <div class="row">
            <div ng-repeat="image in game.screenshots" class="col l3">
              <img-mat src="{{image}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- DOWNLOADS -->
  <div ng-if="game.builds" class="row">
    <div class="col l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Download</span>
          <div class="icons grey-text text-darken-4">
            <a ng-repeat="build in game.builds" href="{{build.link}}" class="grey-text text-darken-4 fa fa-{{build.platform}}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TEAM -->
  <div ng-if="game.team" class="row">
    <div class="col l12">
      <div class="card">
        <div class="card-content">
          <span ng-if="!game.team.name" class="card-title grey-text text-darken-4">Team</span>
          <span ng-if="game.team.name" class="card-title grey-text text-darken-4">Team - {{game.team.name}}</span>
            <div class="row">
              <div ng-if="game.team.photo" class="col l12">
                <img-mat src="{{game.team.photo}}">
              </div>
              <div ng-repeat="member in game.team.members" class="col l6">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title grey-text text-darken-4">{{member.name}}</span>
                    <p>{{member.role}}</p>
                  </div>
                  <div ng-if="member.link" class="card-action">
                    <a href="{{member.link}}">More Info</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TOOLS -->
  <div ng-if="game.tools" class="row">
    <div class="col l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Tools</span>
          <div class="row">
            <div ng-repeat="tool in game.tools" class="col l4">
              <div ng-if="tool.logo" class="card-image">
                <a href="{{tool.link}}">
                  <img ng-src="{{tool.logo}}">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SOURCE -->
  <div class="row">
    <div class="col l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Source</span>
          <div class="text-center">
            <a ng-if="game.source" href="{{game.source}}" class="wave-effects wave-light btn grey-text text-lighten-5">View on Github</a>
            <a ng-if="!game.source" href="#" class="btn disabled grey-text">Unavailable</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
