<div class="resume page-container z-depth-1">
  <div class="page printable">
    <!-- header -->
    <div class="align-center">
      <h1>Jacob Slone</h1>
    </div>
    <div class="flex-apart">
      <div>
        <div>5032 Forbes Ave. SMC 1526</div>
        <div>Pittsburgh, PA 15289</div>
        <div>(269)689-9168</div>
      </div>
      <div class="right align-right">
        <div><a href="mailto:jslone@andrew.cmu.edu">jslone@andrew.cmu.edu</a></div>
        <div><a href="https://github.com/jslone">github.com/jslone</a></div>
        <div><a href="https://jslone.github.io">jslone.github.io</a></div>
      </div>
    </div>
    <hr>

    <!-- EDUCATION -->
    <h2>Objective</h2>
    <div class="indent">
      I'm looking to gain professional experience to foster my love of making games into a career.
    </div>
    <h2>Education</h2>
    <div class="indent">
      <h3>Carnegie Mellon University - School of Computer Science</h3>
      <div class="indent flex-apart">
        <div>
          <div>Bachelor's of Science in Computer Science</div>
          <div>Minor in Game Design</div>
        </div>
        <div class="right align-right">May 2016</div>
      </div>
    </div>

    <!-- COURSEWORK -->
    <h2>Courses</h2>
    <div class="indent flex-list half">
      <div>
        <ul>
          <li>Computer Graphics</li>
          <li>Computer Game Programming</li>
        <ul>
      </div>
      <div>
        <ul>
          <li>Game Design, Prototyping and Production</li>
          <li>Game Engine Programming</li>
        </ul>
      </div>
    </div>

    <!-- SKILLS -->
    <h2>Skills</h2>
    <div class="indent flex-list third">
      <ul>
        <lh>Programming Languages</lh>
        <li>C, C++, C#</li>
        <li>Java</li>
        <li>HTML, Javascript, Coffeescript</li>
        <li>Python, Ruby</li>
        <li>SML, Haskell</li>
      </ul>
      <ul>
        <lh>Game Design</lh>
        <li>AI Decision Making</li>
        <li>Networking</li>
        <li>Mechanics, Playtesting</li>
      </ul>
      <ul>
        <lh>Engines</lh>
        <li>Unity</li>
        <li>UE4</li>
        <li>Game Closure</li>
      </ul>
      <ul>
        <lh>Tools</lh>
        <li>OpenGL, SDL</li>
        <li>make,cmake,grunt</li>
        <li>git</li>
        <li>AngularJS, Node.js, SailsJS</li>
      </ul>
      <ul>
        <lh>Databases</lh>
        <li>MongoDB</li>
        <li>SQL</li>
      </ul>
    </div>

    <!-- GAMES -->
    <h2>Games</h2>
    <div class="indent flex-list third">
      <div>
        <ul>
          <lh>A Plug's Life</lh>
          <li>Small platformer made for GGJ 2015</li>
          <li>Windows, MacOSX, Linux</li>
          <li>Made with Unity</li>
        </ul>
      </div>
      <div>
        <ul>
          <lh>Bagger</lh>
          <li>Small mobile physics game made in a weekend</li>
          <li>Android</li>
          <li>Made with Game Closure then Unity</li>
        </ul>
      </div>
      <div>
        <ul>
          <lh>Belly of the Beast</lh>
          <li>Cute metrovania game featuring a heroic cow, early in development</li>
          <li>Windows, MacOSX, Linux</li>
          <li>Made with Unity</li>
        </ul>
      </div>
      <div>
        <ul>
          <lh>Feuds</lh>
          <li>2 player rounded based action RTS</li>
          <li>Windows, MacOSX, Linux</li>
          <li>Made with Unity</li>
        </ul>
      </div>
      <div>
        <ul>
          <lh>Ultimate Tic Tac Toe</lh>
          <li>Singleplayer, offilne and Facebook multiplayer ultimate tic tac toe</li>
          <li>Web and Mobile</li>
          <li>AngularJS, SailsJS</li>
        </ul>
      </div>
      <div>
        <ul>
          <lh>sald</lh>
          <li>Lightweight 2d Javascript engine</li>
          <li>Web</li>
          <li>Node.js</li>
        </ul>
      </div>
      <div>
        <ul>
          <lh>gge</lh>
          <li>Lightweight 2d C++ engine, early development</li>
          <li>Windows, MacOSX, Linux</li>
          <li>SDL</li>
        </ul>
      </div>
    </div>
  </div>
</div>
