.page-container {
  width:9in;
  height:11.5in;
  padding:0.25in;
  margin:auto;
}

.resume {
  margin-top:1em;
}

.resume .page {
  width: 8.5in;
  height: 11in;
  background-color:white;
  font-size:0.7em;
  overflow: hidden;
}

.resume .flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.resume .flex-apart {
  display: flex;
  justify-content: space-between;
}

.third > * {
  width:33%;
}

.half > * {
  width:50%;
}

.quarter > * {
  width:25%;
}

.indent {
  margin-left: 0.5in;
}

.right {
  float: right;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.resume lh {
  font-size:1.2em;
  margin-bottom:5px;
  margin-left:-1.2em;
}

.resume li {
  margin:3px;
}

.resume h1,h2,h3 {
  font-size: initial;
  margin-top:0.3em;
  margin-bottom:0.3em;
  line-height: initial;
  font-weight: initial;
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable, .printable * {
    visibility: visible;
  }
  .printable {
    position: absolute;
    left: 0;
    top: 0;
  }
}
